@import 'styles/colors';

.footerContent{
  padding: 3rem 1.5rem;

  .colorMain{
    color: $redRock;
  }

  ul{
    list-style: circle;

    a{
      color: $beige;
      &:hover {
        color: $lightBeige;
      }
    }
  }

  .title{
    font-size: 20px;
    font-weight: bold;
    margin: 0;
  }

  p{
    font-size: 15px;
    word-break: break-word;
  }

  .footerInfoFirst{
    border-bottom: 1px solid rgba(29, 29, 27, 0.2);

    .contentFirst{
      margin: auto;
      justify-content: center;
    }
  }

  .socialContent{
    display: flex;
    justify-content: center;

    .fb{
      cursor: pointer;
      color: #3b5998;

      &:hover{
        color: #16325d;
      }
    }

    .inst{
      cursor: pointer;
      color: #E1306C;

      &:hover{
        color: #59122b;
      }
    }
  }

  .footerInfoSecond{
    border-bottom: 1px solid rgba(29, 29, 27, 0.2);
  }

  .copyright{
    font-size: 14px;
  }
}
