@import 'styles/colors';
$transition: all 0.2s .1s linear;

.navbar {
  font-weight: 500;

  &.header-bg {
    background-color: transparent;
    -webkit-transition: $transition;
    -moz-transition: $transition;
    -o-transition: $transition;
    transition: $transition;
  }

  &.header-dark {
    background-color: $beigeRockDark;
    -webkit-transition: $transition;
    -moz-transition: $transition;
    -o-transition: $transition;
    transition: $transition;
  }

  .navbar-item{
    a {
      color: $white;
    }
    .navbar-link:after{
      border-color: $white;
    }

    .navbar-item.has-dropdown:focus .navbar-link, .navbar-item.has-dropdown:hover .navbar-link, .navbar-item.has-dropdown.is-active .navbar-link {
      background-color: transparent;
    }

    .is-boxed{
      background-color: $beigeRockDark;
    }

    .button.is-link{
      background-color: transparent;

      &:hover{
        background-color: $woodRock;
      }
    }
  }
}

@media only screen and (max-width: 1023px) {
  .navbar-menu {
    background-color: $beigeRockDark;
    box-shadow: 0 8px 16px rgba(10, 10, 10, 0.1);
    padding: 0.5rem 0;
  }
}
