@import 'styles/colors';

#contact {
  z-index: 2;
  padding: 6em 4em 2em;
  background-color: $grey;
}

.contactBody{

  .contentContact{
    display: flex;
    flex-direction: column;
    justify-content: center;

    p{
      padding: 1em;
      text-align: justify;
      font-size: 16px;
    }
  }

  form{
    background-color: $white;
    border-radius: .5em;
    filter: drop-shadow(-5px 4px 6px rgba(0, 0, 0, 0.15));

    .legal{
      font-size: 10px;
      text-align: justify;
    }
  }
}
