@import 'styles/colors';

.homeBody{
  padding-bottom: 0;

  .parralaxContainer{
    height: 100vh;
    position: relative;
    .parralax{
      height: 100vh;
    }
    .homeContent{
      z-index: 2;
      height: 100vh;
      width: 100%;
      position: absolute;
      top: 0;
      justify-content: center;
      display: flex;
      color: $white;

      .title{
        margin: auto;
        color: $white;

        h1{
          text-align: center;
          text-transform: uppercase;
          font-size: 140px;
          font-weight: 600;
        }
        h2 {
          text-align: center;
          font-size: 32px;
          font-weight: lighter;
        }
      }

    }

    .darkMode{
      position: absolute;
      z-index: 1;
      background-color: rgba(0, 0, 0, 0.5);
      height: 100vh;
      width: 100%;
    }

    .middle{
      z-index: 2;
      opacity: .8;
      position: absolute;
      top: 90%;
      left: 50%;
      transform: translate(-50%, -50%);

      .mouse{
        width: 1.5rem;
        height: 3.5rem;
        border: 2px solid $white;
        border-radius: 1rem;

        &::before{
          content: '';
          width: .5rem;
          height: .5rem;
          position: absolute;
          top: 1rem;
          background: $white;
          left: 50%;
          transform: translateX(-50%);
          border-radius: 50%;
          opacity: 1;
          animation: mouse 2s infinite;
        }
      }

    }
  }

}


@keyframes mouse {
  from {
    opacity: 1;
    top: 1rem;
  }
  to {
    opacity: 0;
    top: 7rem;
  }
}

@media only screen and (max-width: 600px) {
  .homeContent{
    h1 {
      font-size: 10vh!important;
    }

    p {
      margin-top: 1em;
      font-size: 3vh!important;
    }
  }
}