@import 'components/cards/cardPresentation';
#pres{
  background-color: $grey;
}

.bodyPresentation {
  display: flex;

  div {
    margin-top: auto;
    margin-bottom: auto;
    width: 100%;
  }
}


@media only screen and (max-width: 600px){
  .imgPresentation{
    &.right, &.left{
      background-position: top!important;
    }

    & div:first-child{
      margin-top: 6vh!important;
    }
  }

  .verticalLineContent{
    display: none!important;
  }

  .contentPresentation{
    font-size: 14px!important;
    padding: 1em!important;
    max-width: 100%!important;
  }
}
