@import 'styles/colors';

#realisations{
  background-color: $rea;
}

// Component Réalisations
.bodyRealisations{
  padding-bottom: 10vh;

  .project{
    display: flex;
    margin: auto;
  }

  .realisationPlus{
    display: flex;
    justify-content: center;
  }

}
