@import 'styles/colors';

.bodyServices{
  display: flex;

    .cardSection{
      div{
        margin: auto;
      }
    }
}

.bodyServicesText{
  a{
    color: $redRock;
  }
}

.spaceServices {
  background-color: $white;
}
