@import 'styles/colors';
.cardService {
  display: flex;
  cursor: pointer;
  transition: all 0.3s cubic-bezier(.25, .8, .25, 1);

  &:hover {
    filter: drop-shadow(5px 14px 25px rgba(0, 0, 0, 0.15));
  }

  .contentHeader {
    position: relative;
    max-width: 6em;
    filter: drop-shadow(-5px 14px 25px rgba(0, 0, 0, 0.15));
    z-index: 2;
    transform: translateY(50%);
    background-color: $grey;
    padding: 1em 1.5em;
    border-radius: 1em;

    .iconService {
      background-color: $woodRock;

      &.charpente-bois{
        background-color: $charpente-bois;
      }

      &.imitation-pierre{
        background-color: $imitation-pierre;
      }

      &.rejointoiement{
        background-color: $rejointoiement;
      }

      border-radius: 1em;
      transform: translateX(30%);

      figure {
        transform: translateX(-40%);
      }

    }

  }

  .content {
    background-color: $woodRock;

    &.charpente-bois{
      background-color: $charpente-bois;
    }

    &.imitation-pierre{
      background-color: $imitation-pierre;
    }

    &.rejointoiement{
      background-color: $rejointoiement;
    }

    border-radius: .5em;
    padding-top: 4em;
    justify-content: center;
    min-height: 15em;
    text-align: center;
    filter: drop-shadow(-5px 4px 6px rgba(0, 0, 0, 0.15));

    h3 {
      font-weight: bold;
      margin-bottom: 1em;
    }

    p {
      font-size: 14px;
    }

    a{
      font-weight: bold;
      color: $black;
    }
  }
}
