@import url("https://fonts.googleapis.com/css2?family=Jost&display=swap");
@import "styles/colors";

.infinite-scroll-component{
  overflow: hidden!important;
}

.cardRealisation {
  margin: 2em 0;

  * {
    box-sizing: border-box;
  }


  .card-with-hover {
    border-radius: .8em;
    position: relative;
    overflow: hidden;
    background: transparent;
    max-height: 35vh;
    margin: 0;
    filter: drop-shadow(-5px 4px 6px rgba(0, 0, 0, 0.40));


    & > img{
      transition: transform 0.35s;
    }

    & > .card-caption{
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      display: flex;
      justify-content: center;
      background-color: rgba(23, 28, 47, 0.6);
      transition: all 0.3s;
      transform: translate3d(0, 100%, 0);
      will-change: transform;

      & > .card-caption-content{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        width: auto;
        transition: all 0.3s;
        transform: translate3d(0, 0, 0);
        will-change: transform;
      }
    }

    .card-caption-content{
      height: 100%;

      h2, span {
        color: $white;
        margin: 0;
        padding: 1.5rem;
        transition: all 0.3s;
        background: rgba(23, 28, 47, 0.4);
        transform: translate3d(0, -50%, 0);
        will-change: transform;
      }

    }

    & > .card-caption p {
      padding: 0 1rem;
      margin: 0;
      color: #fff;
      opacity: 0;
      transition: opacity 0.35s 0.1s;
      transform: translate3d(0, 0, 0);
      will-change: transform;
    }

    &:hover{

      & > img{
        transform: scale(1.15) translate3d(0, -20px, 0);
      }

      & > .card-caption {
        transform: translateY(0);
      }

      & > .card-caption h2 {
        background-color: rgba(255, 255, 255, 0);
        transform: translateY(0%);
      }

      & > .card-caption span {
        background-color: rgba(255, 255, 255, 0);
        transform: translateY(0%);
      }

      & > .card-caption p {
        opacity: 1;
      }

    }

    .card-text-wrapper {
      display: flex;
      justify-content: center;
      margin: auto;
      text-align: center;
    }

    .fab {
      padding: 1rem;
      color: #fff;
    }

  }

}

