@import 'styles/colors';

.sectionPres{
  filter: drop-shadow(-5px 14px 25px rgba(0, 0, 0, 0.15));

  .contentImg{
    z-index: 1;

    img{
      border-radius: .5em;
    }
  }

  .pres{
    z-index: 2;
  }

  .contentPresentation{
    color: $white;
    background-color: $beigeRockDark;
    padding: 1em;
    border-radius: .5em;
    filter: drop-shadow(-5px 14px 25px rgba(0, 0, 0, 0.15));

    &.right{
      transform: translateX(-40%);
    }

    &.left {
      transform: translateX(40%);
    }

    h2,h3{
      text-align: right;
      font-weight: bold;
      font-size: 30px;
      line-height: 1;
      margin-bottom: 1rem;
    }

    p{
      text-align: justify;
      margin-bottom: 1rem;
    }
    a{
      color: $redRock;
    }
  }
}

@media only screen and (max-width: 1215px){
  .contentPresentation {
    p{
      font-size: 14px;
    }

    &.right {
      transform: translateX(-20%)!important;
    }

    &.left {
      transform: translateX(20%)!important;
    }
  }
}

@media only screen and (max-width: 1023px){
  .contentPresentation {

    &.right {
      transform: translateX(0%)!important;
    }

    &.left {
      transform: translateX(0%)!important;
    }
  }
}
