@import 'styles/colors';

.ratingReview{
  .stars{
    padding: 0;
    .starsContent{
      display: flex;
      justify-content: right;
    }
  }


  .contentReview{
    padding: .5em;
    background-color: $grey;
    min-height: 8em;
    border-radius: .8em;
    font-style: italic;
    position:relative;


    &:after{
      content: '';
      border-left: 20px solid transparent;
      border-right: 20px solid transparent;
      border-top: 20px solid $grey;
      position: absolute;
      left: 10px;
      bottom: -1em;
      width: 0;
      height: 0;
    }

    p{
      justify-content: center;
      margin: auto 0;
    }
  }

  .authorSection{
    display: flex;
    margin-top: .5em;
    padding: 1em 1.5em;

    .iconReview{
      display: flex;
      padding: 0;

      .circle{
        display: flex;
        margin: auto 0;
        justify-content: center;
        height: 2.5em;
        width: 2.5em;
        text-align: center;
        border-radius: 100%;
        background-color: $grey;
        flex-direction: column-reverse;

        div{
          margin: auto;
        }
      }
    }

    .author{
      //display: flex;

      b{
        margin: auto 0;
      }
    }
  }

}

