@import 'styles/colors';

.allRealisationsBody{
  margin: auto;
  padding-top: 10vh;

  .titleComponent{
    margin-bottom: 2em;
  }

  .endMessage{
    bottom: 0;
    text-align: center;
    background-color: $grey;
    height: 1em;
    padding-bottom: 4em;
    padding-top: 2em;
  }
}
