@import 'styles/colors';


.realisationBody{
  margin: auto;
  padding-top: 10vh;
  .titleComponent{
    padding: 0;

    h1{
      font-size: 50px!important;
      text-align: left!important;
    }
  }

  .realisationContent{
    margin: 0 1em;

    .realisationInformation{
      filter: drop-shadow(-10px 10px 20px rgba(0, 0, 0, 0.54));
      border-radius: .5em;
      padding: 1em;
      color: black;
      letter-spacing: 1px;
      display: flex;
      justify-content: space-evenly;
      flex-direction: column;

      div{
        margin-bottom: .5em;
      }
    }

    .content{
      text-align: justify;
      font-size: 16px;
    }

    .otherRealisation{
      button{
        margin: auto;
      }
    }
  }

  .imageRealisation{
    span, div{
      max-height: 70vh!important;
    }

    span, div, img{
      border-radius: 1em;
    }
  }

  .gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 1em 0;

    h2{
      font-size: 20px;
      margin: 1em 0;
      font-style: italic;
    }
  }

}
