$background: #ffffff;
$white: #ffffff;
$grey: #f5f5f5;
$black: #1d1d1b;
$blackHover: rgba(29, 29, 27, 0.6);
$beigeRock: #f2e3;
// Main color
$beigeRockDark: #BEB8AF;
$redRock: #ab7468;
$woodRock: #a48a7b;

$beige: #AD7D52;
$darkBlue: #354259;
$lightBrown: #CDC2AE;
$lightBeige:#ECE5C7;
$lightGrey: #E5E5E5;
$grey: #F2F2F2;

// Couleurs des services
$rejointoiement: #BEB8AF;
$charpente-bois: #FFFAEC;
$imitation-pierre: #94A7AE;
$other: #423730;
$rea: #ded7cd;
// Fin couleurs service
