// Police
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
// Bulma css
@import 'bulma/css/bulma.css';
// Colors palettes
@import 'colors';
// Scss Component
@import 'components/shared/navBar';
@import 'components/shared/footerComponent';
@import 'components/home';
@import 'components/presentations';
@import 'components/realisations';
@import 'components/services';
@import 'components/reviews';
@import 'components/map';
@import 'components/contact';
// Card
@import 'components/cards/cardServices';
@import 'components/cards/cardRealisation';
@import 'components/cards/cardReview';
// Pages
@import 'pages/realisations/slug';
@import 'pages/realisations/index';
@import 'pages/services/index';
@import 'pages/galerie/index';

*{
  font-family: "Montserrat", sans-serif;
}

body{
  //background-color: $grey;
  background-color: white;
}

// ==========================================================
// Loader
.loader-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: $beigeRockDark;
  opacity: 0;
  z-index: -1;
  transition: opacity .3s;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;

  &.is-active {
    opacity: 1;
    z-index: 1;
  }

  .loader {
    height: 80px;
    width: 80px;
  }
}

// Fin Loader
// ==========================================================

// Vertical Line
.verticalLineContent {
  height: 15vh;

  .vertical-line {
    width: 2px;
    background-color: $redRock;
    height: 100%;
    transform: scaleY(0);
    transform-origin: top;
    margin: 0 auto 100px;
  }
}

// Fin Vertical Line
// ==========================================================

.wrap-word {
  max-width: 25em;
  text-align: justify;

  .word{
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }
}

// Désactive le scroll latéral
//Todo vérifier que tout est ok
#__next{
  overflow: hidden;
}

.sections{
  padding: 5em 0;
}

h1.title, h2.title {
  font-weight: bold;
  text-align: center;
  font-size: 82px;
}

.body-subtitle{
  padding: .5em;
  border-radius: 1em;
  background-color:$beigeRockDark;

  h2.subtitle{
    font-weight: bold;
    font-size: 1em;
  }
}


.responsive{
  z-index: 999;
  background-color: transparent;
  position: fixed;
  bottom: 0;
  width: 3em;
  height: 3em;
  margin: auto;
  border-radius: 100%;
  text-align: center;
}

.legalBody{
  padding: 5em 2em;
}

.reviewZero{
  background-color: $grey;
}

.bg_legal{
  background-color: $grey;
  padding: 1em;
  border-radius: 1em;
}

@media only screen and (max-width: 1215px){
  .responsive{
    background-color: mediumpurple!important;
  }
}

@media only screen and (max-width: 1023px){
  .responsive{
    background-color: chartreuse!important;
  }

  .carouselRealisations{
    padding: 0 2em;
  }

}


@media only screen and (max-width: 768px){
  .responsive{
    background-color: orangered!important;
  }

  .realisationBefore, .contactAfter{
    transform: translateY(10%);
  }

  .carouselRealisations{
    padding: 0 2em;
  }

}

@media only screen and (max-width: 600px){
  .responsive{
    background-color: cyan!important;
  }
  h1.title{
    font-size: 50px;
  }

  #contact{
    padding: 6em 2em 2em;
  }

  .realisationBefore, .contactAfter{
    transform: translateY(10%);
  }

  .carouselRealisations{
    padding: 0 2em;
  }

  .mapBody{
    padding: 0 2em;
  }
}

.yarl__slide_title_container, .yarl__slide_description_container{
  margin: 1em;
}

